@font-face {
  font-family: "Korean-Air-Sans-Bold";
  font-display: swap;
  font-weight: 700;
  src: url("/font/KoreanAirSansKR_W_Bd.woff2") format("woff2");
}

@font-face {
  font-family: "Korean-Air-Sans-Regular";
  font-display: swap;
  font-weight: 400;
  src: url("/font/KoreanAirSansKR_W_Rg.woff2") format("woff2");
}
